#containerWithBckgr{
	margin:0 auto;
	width:500px;
	height:540px;
	margin-top:7%;
	padding-top:60px;
	background-image: url(BlueSpot.png);
	background-size: cover;
	background-repeat: no-repeat;
}

#inputData{
	margin:0 auto;
	background-color:rgba(219, 225, 800, 0.8);
	width:300px;
	padding-bottom:20px;
	border:1px solid black;
	border-radius:10px;
}

#inputDataHeader{
	font-weight:normal;
	font-size:30px;
	line-height:30px;
	font-family:'MV BOLI';
	color:blue;
}

div.inputContainer{
	/*background-color:red;*/
}

p.inputContainerHeader{
    margin-bottom: 5px;
	margin-top:5px;
	font-size:17px;
}

.inputTextCenter{
	text-align:center;
}

div.noteContainer{
	margin-top:-13px;
	height:15px;
	/*background-color:rgba(255, 0, 0, 0.5);*/
}

p.note{
	font-size:14px;
	color:#6E0202;
}

#cardNumber{
	margin:0 auto;
	display:block;
	width:180px;
}

#monthYearContainer{
	margin:0 auto;
	width:135px;
}

#monthYearSelectContainer{
	overflow:hidden;
}

#monthYearContainer p{
	display:inline-block;
	font-size:13px;
	font-family:calibri;
	margin-top:5px;
	line-height:5px;
}

#monthP{
	margin-left:3px;
	margin-bottom:10px;
}

#yearP{
	margin-left:40px;
	margin-bottom:10px;
}

#validThruMonth{
	width:45px;
	float:left;	
	height:20px;
	margin-top:2px;
}

#validThruYear{
	width:80px;
	float:right;
	height:20px;
}

#monthYearNoteContainer{
	margin-top:-20px;
	margin-bottom:10px;
	
}

#cardNumberNote{
	/*margin-top:-5px;
	margin-bottom:0px;*/
}

#cvcContainer{
	margin-top:-5px;
}

#cvc{
	margin:0 auto;
	display:block;
	width:45px;
}

#cardholder{
	margin:0 auto;
	display:block;
	width:250px;
}

#pay{
	margin:0 auto;
	display:block;
	margin-top:5px;
	height:30px;
	width:120px;
}